@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/*Element selectors*/

body {
    min-height: 100vh;
    background-color: #eee;
    justify-content: center;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

h1, h5 {
    font-family: "Abril Fatface", 'Times New Roman', Times, serif;
}

nav {
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

ul {
    padding: 0 1.5rem;
    margin: 0.5rem;
}

nav li {
    list-style: none;
    font-size: 0.8rem;
}

li a {
    text-decoration: none;
    color: #777;
}

h2, h4 {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
}

h2 {
    margin-bottom: 0.625rem;
}

h5 {
    color: #dd3232;
    margin: 0 0 1.25rem;
}

img {
    width: 100%;
}

section {
    margin: 0 0.625rem;
}

p {
    text-align: justify;
}

/*Class selectors*/

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newspaper-container {
    max-width: 700px;
    margin: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 4px #ddd;
    border-radius: 20px;
    box-sizing: border-box;
}

.date {
    text-align: left;
}

.more-articles {
    margin-top: 0.625rem;
    border-top: 1px solid #eee;
}

/* HACKER TIMES PART 2 */

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
}